/* Importar fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&family=Krub:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('path/to/your/font-awesome/css/all.min.css');

/* Estilo global para todos los elementos */
* {
    box-sizing: border-box; /* Box model se establece en border-box para facilitar el diseño */
    margin: 0; /* Elimina los márgenes predeterminados del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    font-size: 30px; /* Tamaño de fuente predeterminado para la página */
    font-family: 'Gabarito', 'Krub', sans-serif; /* Fuentes predeterminadas */
    color: #f3def6; /* Color de texto predeterminado */
}

/* Estilo del cuerpo de la página */
body {
    background-color: #140f07; /* Color de fondo del cuerpo */
}

/* Estilo del encabezado */
.header {
    display: flex; /* Utiliza el modelo de caja flexible para el encabezado */
    justify-content: space-between; /* Distribuye el espacio entre los elementos del encabezado */
    align-items: center; /* Centra verticalmente los elementos del encabezado */
    height: 85px; /* Altura del encabezado */
    padding: 5px 10%; /* Relleno del encabezado */
    flex-wrap: wrap;
}

/* Estilo del logotipo en el encabezado */
.header .logo {
    cursor: pointer; /* Muestra un cursor de puntero al pasar por encima del logotipo */
}

.header .logo img {
    height: 180px; /* Altura de la imagen del logotipo */
    width: auto; /* Ancho automático para mantener la proporción */
    transition: all 0.3s; /* Transición suave en todas las propiedades durante 0.3 segundos */
}

.header .logo img:hover {
    transform: scale(1.2); /* Escala la imagen del logotipo al pasar el ratón por encima */
}
/* Estilo del carrito en el encabezado */
.cart-icon {
    position: relative; /* Ajusta la posición del carrito */
    margin-right: 20px; /* Agrega margen a la derecha del carrito */
    cursor: pointer; /* Muestra un cursor de puntero al pasar por encima del carrito */
}
  
.cart-icon i {
    font-size: 40px; /* Tamaño del ícono */
}
  
.cart-count {
    position: absolute;
    top: -14px; /* Ajusta la posición vertical del número */
    right: -14px; /* Ajusta la posición horizontal del número */
    background-color: #f00; /* Color de fondo para el número (rojo) */
    color: #fff; /* Color de texto para el número (blanco) */
    border-radius: 50%; /* Hace que el número tenga bordes redondeados */
    padding: 4px 8px; /* Agrega relleno alrededor del número */
    font-size: 12px; /* Tamaño de fuente del número */
}
.heart-icon {
    position: relative; 
    margin-right: 20px; 
    cursor: pointer; 
}
  
.heart-icon i {
    font-size: 40px; 
}
  
.heart-count {
    position: absolute;
    top: -14px; 
    right: -14px; 
    background-color: #f00; 
    color: #fff; 
    border-radius: 50%; 
    padding: 4px 8px; 
    font-size: 12px; 
}
  
/* Estilo de los enlaces de navegación en el encabezado */
.header .nav-links {
    list-style: none; /* Elimina los estilos de lista */
    display: flex; /* Utiliza el modelo de caja flexible para los enlaces de navegación */
}

.header .nav-links li {
    display: inline-block; /* Muestra los elementos de la lista en línea */
    padding: 0 20px; /* Relleno de los elementos de la lista */
    margin-right: 10px; /* Márgenes a la derecha de los elementos de la lista */
}

.header .nav-links li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento de la lista */
}

.header .nav-links li:hover {
    transform: scale(1.1); /* Escala el elemento de la lista al pasar el ratón por encima */
}

.header .nav-links a {
    font-size: 700; /* Puede ser un error; debería tener una unidad (por ejemplo, px) */
    color: #f3def6; /* Color de texto para los enlaces de navegación */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.header .nav-links li a:hover {
    color: #b2a1eb; /* Cambia el color al pasar el ratón por encima de los enlaces */
}

/* Estilo del botón en el encabezado */
.header .btn button {
    font-weight: 700; /* Peso de fuente del botón */
    color: #292846; /* Color de texto del botón */
    padding: 9px 25px; /* Relleno del botón */
    background: #f3def6; /* Color de fondo del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 50px; /* Radio de borde para obtener esquinas redondeadas */
    cursor: pointer; /* Muestra un cursor de puntero al pasar por encima del botón */
    transition: all 0.3s ease 0s; /* Transición suave en todas las propiedades durante 0.3 segundos */
}

.header .btn button:hover {
    background-color: #f3def6; /* Cambia el color de fondo al pasar el ratón por encima del botón */
    color: #a095fa; /* Cambia el color del texto al pasar el ratón por encima del botón */
    transform: scale(1.1); /* Escala el botón al pasar el ratón por encima */
}

/* Estilo de los encabezados de nivel 1 */
h1{
    font-size: 80px;
    position: relative;
    text-align: center;
}
/* Estilo de los encabezados de nivel 2 y 3*/
h2, h3 {
    font-size: 40px;
    text-align: center;
    position: relative;
}
p{
    text-align: center;

}
a{
    text-decoration: none;
}

/* Estilos para los productos */
#productos-vinilo {
    padding: 20px; /* Relleno alrededor de la sección de productos de vinilo */
}
#productos-categoria {
    padding: 20px; /* Relleno alrededor de la sección de productos de vinilo */
}
#productos-decorativa {
    padding: 20px; /* Relleno alrededor de la sección de productos de vinilo */
}
.contenedor-productos {
    padding: 20px;
    display: flex; /* Utiliza el modelo de caja flexible para el contenedor de productos */
    flex-wrap: wrap; /* Permite que los productos se envuelvan en pantallas más pequeñas */
    gap: 20px; /* Espacio entre los productos */
    justify-content: space-around; /* Distribuye uniformemente los productos en el contenedor */
}

.producto {
    width: calc(25% - 20px); /* Cambia el ancho a un cuarto del contenedor, teniendo en cuenta el espacio entre ellos */
    box-sizing: border-box; /* Box model se establece en border-box para facilitar el diseño */
    overflow: hidden; /* Oculta el contenido que desborda del contenedor */
    border-radius: 20px; /* Radio de borde para obtener esquinas redondeadas */
    background-color: #292846; /* Color de fondo del producto */
    padding: 20px; /* Relleno alrededor del producto */
    margin-bottom: 20px; /* Márgenes en la parte inferior del producto */
    transition: all 0.3s; /* Transición suave en todas las propiedades durante 0.3 segundos */
}


.producto img {
    width: 100%; /* Hace que la imagen del producto ocupe el 100% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Radio de borde para obtener esquinas redondeadas en la imagen */
    margin-bottom: 10px; /* Márgenes en la parte inferior de la imagen */
}

.producto:hover {
    transform: translateY(-5px); /* Eleva el producto al pasar el ratón por encima */
    box-shadow: 0 0 10px #f3def6; /* Sombra al pasar el ratón por encima del producto */
}

.btn-add-to-cart {
    display: inline-block; /* Muestra el botón como un elemento en línea */
    background-color: #5f5c9a; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    padding: 10px 20px; /* Relleno del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Radio de borde para obtener esquinas redondeadas */
    text-decoration: none; /* Elimina el subrayado del botón */
    font-size: 16px; /* Tamaño de fuente del botón */
    transition: background-color 0.3s; /* Transición suave del color de fondo durante 0.3 segundos */
}

.btn-add-to-cart:hover {
    color: #f3def6;/* Cambia el color de fondo al pasar el ratón por encima del botón */
}

/* Estilo para el botón de "Añadir a Favoritos" */
.btn-add-to-favorites {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5f5c9a; /* Color de fondo del botón de favoritos */
    color: #fff; /* Color del icono y el texto del botón de favoritos */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Cambia el color del corazón cuando se agrega a favoritos */
.btn-add-to-favorites:hover {
   color: #f3def6;
}
/* Estilo para el botón "Añadir al Carrito" */
.btn-add-to-cart {
    margin-right: 20px; 
}

/* Estilo para el botón "Añadir a Favoritos" */
.btn-add-to-favorites {
    margin-left: 20px; 
}
.btn-add-to-favorites i {
    margin-right: 5px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.social-media a {
    margin: 0 10px;
    color: #5f5c9a;
    text-decoration: none;
}

.social-media a img {
    width: 60px;
    height: 60px;
}

.social-media a:hover {
    color: #676394;
}
.social-media img:hover{
    transform: scale(1.2);
}

footer {
    background-color: #f3def6;
    padding: 20px;
    align-items: center;
}

footer p {
    color: black;
    text-align: center;
}

/* Media Query para pantallas pequeñas */
@media only screen and (max-width: 800px) {
    .header {
        flex-direction: column; /* Cambia la dirección de flex a columna en pantallas pequeñas */
        height: auto; /* Ajusta la altura automáticamente en pantallas pequeñas */
    }

    .header .nav-links {
        flex-direction: column; /* Apila elementos de lista en pantallas pequeñas */
        align-items: center; /* Centra elementos de lista en pantallas pequeñas */
        margin-top: 10px; /* Agrega espacio entre el logo y los enlaces de navegación */
    }

    .header .nav-links li {
        padding: 10px 0; /* Espaciado entre elementos de lista en pantallas pequeñas */
        text-align: center; /* Centra el texto en pantallas pequeñas */
    }
    .producto {
        width: 100%; /* Ancho del producto al 100% para mostrar uno por uno en pantallas pequeñas */
        box-sizing: border-box; /* Box model se establece en border-box para facilitar el diseño */
        overflow: hidden; /* Oculta el contenido que desborda del contenedor */
        border-radius: 20px; /* Radio de borde para obtener esquinas redondeadas */
        background-color: #292846; /* Color de fondo del producto */
        padding: 20px; /* Relleno alrededor del producto */
        margin-bottom: 20px; /* Márgenes en la parte inferior del producto */
        transition: all 0.3s; /* Transición suave en todas las propiedades durante 0.3 segundos */
    }

}